article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px
}

.titulo-pagina {
  font-weight: bolder;
  font-size: 27px;
  color: var(--background-header);
}

.buscar {
  display: flex;
  flex-direction: column;
  margin: 0 3rem;
}

.table {
  width: 95%;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td,
tr {
  min-width: 100%;
  height: 2rem;
  text-align: center;
  vertical-align: middle;
}

th {
  font-weight: bolder;
}

.licitacoes tr:nth-child(odd) {
  background-color: #D9D9D9;
}

.tabelafiltros {
  border-collapse: separate;
  border-spacing: 10px 3px;
}

.filtros>tr>td>div {
  overflow-y: scroll;
  max-height: 100px;
}

.tablefiltros {
  border-collapse: separate;
  border-spacing: 10px 3px;
}

.tablefiltros>tr {
  background-color: #D9D9D9;
}

.tablefiltros>tr>td {
  border-radius: 2px;
}

.filtros>table {
  border-collapse: separate;
}

.filtros>td {
  border-radius: 5px;
  margin: 3px;
}

.periodo {
  align-items: center;
  display: inline;
}

.periodo>tr>td>input {
  border-radius: 2px;
  padding-left: 2px;
  height: 25px;
  background-color: #D9D9D9;
}
