<article>
  <section>
    <app-barra-pesquisa titulo="ESTADOS"></app-barra-pesquisa>
  </section>
  <section>
    <div class="busca-por-estado">
      <div class="buscar-estado">BUSCAR POR ESTADO</div>
      <div class="estados">
        <div class="estado" routerLink="" [queryParams]="{est: 'AC'}">ACRE</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'AL'}">ALAGOAS</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'AP'}">AMAPÁ</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'AM'}">AMAZONAS</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'BA'}">BAHIA</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'CE'}">CEARÁ</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'DF'}">DISTRITO FEDERAL</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'ES'}">ESPÍRITO SANTO</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'GO'}">GOIÁS</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'MA'}">MARANHÃO</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'MT'}">MATO GROSSO</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'MS'}">MATO GROSSO DO SUL</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'MG'}">MINAS GERAIS</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'PR'}">PARÁ</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'PB'}">PARAÍBA</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'PN'}">PARANÁ</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'PE'}">PERNAMBUCO</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'PI'}">PIAUÍ</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'RJ'}">RIO DE JANEIRO</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'RN'}">RIO GRANDE DO NORTE</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'RS'}">RIO GRANDE DO SUL</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'RO'}">RONDÔNIA</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'RR'}">RORAIMA</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'SC'}">SANTA CATARINA</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'SP'}">SÃO PAULO</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'SE'}">SERGIPE</div>
        <div class="estado" routerLink="" [queryParams]="{est: 'TO'}">TOCATINS</div>
      </div>
    </div>
  </section>
</article>
