<article>
  <section>
    <app-barra-pesquisa titulo="ESTADOS"></app-barra-pesquisa>
  </section>
  <section>
    <div class="busca-por-estado">
      <div class="buscar-estado">BUSCAR POR ESTADO</div>
      <div class="estados">
        <div class="estado">ACRE</div>
        <div class="estado">ALAGOAS</div>
        <div class="estado">AMAPÁ</div>
        <div class="estado">AMAZONAS</div>
        <div class="estado">BAHIA</div>
        <div class="estado">CEARÁ</div>
        <div class="estado">DISTRITO FEDERAL</div>
        <div class="estado">ESPÍRITO SANTO</div>
        <div class="estado">GOIÁS</div>
        <div class="estado">MARANHÃO</div>
        <div class="estado">MATO GROSSO</div>
        <div class="estado">MATO GROSSO DO SUL</div>
        <div class="estado">MINAS GERAIS</div>
        <div class="estado">PARÁ</div>
        <div class="estado">PARAÍBA</div>
        <div class="estado">PARANÁ</div>
        <div class="estado">PERNAMBUCO</div>
        <div class="estado">PIAUÍ</div>
        <div class="estado">RIO DE JANEIRO</div>
        <div class="estado">RIO GRANDE DO NORTE</div>
        <div class="estado">RIO GRANDE DO SUL</div>
        <div class="estado">RONDÔNIA</div>
        <div class="estado">RORAIMA</div>
        <div class="estado">SANTA CATARINA</div>
        <div class="estado">SÃO PAULO</div>
        <div class="estado">SERGIPE</div>
        <div class="estado">TOCATINS</div>
      </div>
    </div>
  </section>
</article>
